html{
    font-family: 'Montserrat', sans-serif;
    color: #184bcc;
}

.flex-wrapper{
    

    margin-top: 50px;   
}

.calculator-content{
    display: block;
}

.calculator-title{
    margin-bottom: 30px;
    border-bottom: 1px solid #777;  
    margin-left: 50px;
    margin-right: 50px;
    color: #000;

}

.calculator-content-body{
    display: flex;
    margin-left: 50px;
}

input{
    width: 250px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    margin-bottom: 5px;
}

input[type="number"]{
    padding-left: 10px;

}

button{
    width: 265px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

button div {
    padding: 5px 3px 5px 3px;
 
}

button:active {
    border: 1px solid #184bcc ;
}

button:focus {
    border: 1px solid #000 ;
}

.calculator-content-body-right{
    margin-left: 150px;
}

.title, .value{
    margin-bottom: 10px;
}

.calculator-content-body-right .value{
    font-size: 20pt;
    font-weight: 700;
}
